<div>
  <div class="text-center landing-page medium-12 columns">
    <h1>Let's Fish </h1>
    <h5>Hello from Landing Page </h5>

    <p>I will put a nice picture here</p>

    <p><%= link_to 'Sign Up', new_user_registration_path %></p>
    <p><%= link_to 'Sign In', new_user_session_path %></p>
  <div>
</div>
