/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 /* Backgrounds
      lonely_fisherman = url(https://img00.deviantart.net/efa8/i/2013/317/8/e/gone_fishing_by_arisuonpaa-d6u6ii1.jpg?raw=1)

  */



 body {
   background: url(https://img00.deviantart.net/efa8/i/2013/317/8/e/gone_fishing_by_arisuonpaa-d6u6ii1.jpg?raw=1) no-repeat center center fixed, rgba(251,233,223,0.7);
   background-position: center;
   background-size: cover;
   background-blend-mode: lighten;
 }
